body{
    margin: 0;
    padding: 0;
    background: url("img/Login_Background.jpg") no-repeat center center fixed; 
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    font-family: 'Helvetica Neue',Helvetica,Arial,sans-serif;
}

.img-logo{
    height: 60px;
    margin-left: 90px;
}

.upper{
    padding-bottom: 100px;
    margin: auto;
    
}

.bottom{
    background-color: rgba(0, 0, 0, 0.85);
    color: #757575;
    
}

.bottom-width{
    max-width: 1000px;
    margin: 0 auto;
    padding: 30px;
}

.bottom-flex{
    display: flex;
    flex-wrap: wrap;
    padding: 15px 0 0 0;
    margin-block-start: 0;
    margin-block-end: 0;
}

.bottom-flex li{
    list-style: none;
}

.list-bottom{
    width: 25%;
    margin-top: 10px;
}

.link-bottom{
    text-decoration: none;
    color: #757575;
    font-size: 0.8rem;
}

.link-bottom:hover{
    text-decoration: underline;
    
}


.login{
    margin-top: 20px;
    margin-left: 490px;
    display: inline-block;
    width: 400px;
    background-color: white;
    border-radius: 5px;
    padding: 30px 70px 143px 70px;
}

.login p {
    color: #636466;
    font-weight: bold;
    font-size: smaller;
    margin-bottom: 30px;
}

.login h1{
    color: black;
    font-weight: 500;
    font-size: 25px;
    font-family: sans-serif;
    margin-bottom: 15px;
}

.login hr{
    border: none;
    border-radius: 5px;
    height: 3px;
    background: linear-gradient(135deg, #2b6dad, #aa2200);
    margin-top: 0px;
    margin-bottom: 20px;

}


.input-text{
    margin-bottom: 20px;
}

.input-text input{
    height: 45px;
    width: 100%;
    outline: none;
    font-size: 16px;
    border-radius: 5px;
    padding-left: 15px;
    border: 1px solid #ccc;
    border-bottom-width: 2px;
    transition: all 0.3s ease;
    margin-top: 5px;
}

.input-text input:focus{
    border-color: #2b6dad;
}

.input-text input::-webkit-input-placeholder {
    font-size: 15px;
    color: #999;
}

.input-text input::-moz-placeholder {
    font-size: 15px;
    color: #999;
    text-indent: 40px;
}

.signin-button{
    height: 40px;
    width: 100%;
    border-radius: 5px;
    border: none;
    color: #fff;
    font-size: 18px;
    font-weight: 500;
    font-family: sans-serif;
    letter-spacing: 1px;
    cursor: pointer;
    transition: all 0.3s ease;
    background: linear-gradient(135deg, #2b6dad, #aa2200);
}

.signin-button:hover{
    background: linear-gradient(-135deg, #2b6dad, #aa2200);
}

form .button{
    height: 45px;
    margin: 35px 0
  }
  form .button input{
    height: 100%;
    width: 100%;
    border-radius: 5px;
    border: none;
    color: #fff;
    font-size: 18px;
    font-weight: 500;
    letter-spacing: 1px;
    cursor: pointer;
    transition: all 0.3s ease;
    background: linear-gradient(135deg, #2b6dad, #aa2200);
  }
  form .button input:hover{
   background: linear-gradient(-135deg, #2b6dad, #aa2200);
   }


.remember-flex{
    display: flex;
    justify-content: space-between;
    margin-top: 10px;
    font-size: 0.8rem;
}

.color_text{
    color: #b3b3b3;
}

.color_link{
    color: #737373;
}

.signup-link{
    color: #636466;
    text-decoration: none;
}

.warning-input{
    display: none;
    color:red;
    margin-top: 0;
    font-size: 0.8rem;
    margin-top: 6px;
}

.signup-link:hover{
    text-decoration: underline;
}

.face_icon{
    color: #3b5998;
    margin-right: 6px;
    font-size: 20px;
}

.log_face{
    text-decoration: none;
    margin-left: 10px;
    font-size: 0.8rem;
}

.log_face:hover{
    text-decoration: underline;
}



.login-face{
    margin: 50px 0 15px 0;
    vertical-align: middle;
    color: #8c8c8c;
}

.log_google{
    text-decoration: none;
    margin-left: 10px;
    font-size: 0.8rem;
}

.log_google:hover{
    text-decoration: underline;
}

.login-google{
    margin: 0px 0 20px 0;
    vertical-align: middle;
    color: #8c8c8c;
}


.new-members{
    margin-bottom: 10px;
    color: #8c8c8c;
}

.help a{
    text-decoration: none;
}
.help a:hover{
    text-decoration: underline;
}

.protection{
    font-size: 0.8rem;
    color: #8c8c8c;
}

.protection a{
    text-decoration: none;
}

.protection a:hover{
    text-decoration: underline;
}



.select-language{
    -webkit-appearance: none;
    -moz-appearance: none;
    background: url("data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiA/PjwhRE9DVFlQRSBzdmcgIFBVQkxJQyAnLS8vVzNDLy9EVEQgU1ZHIDEuMS8vRU4nICAnaHR0cDovL3d3dy53My5vcmcvR3JhcGhpY3MvU1ZHLzEuMS9EVEQvc3ZnMTEuZHRkJz48c3ZnIGVuYWJsZS1iYWNrZ3JvdW5kPSJuZXcgMCAwIDUwIDUwIiBoZWlnaHQ9IjUwcHgiIGlkPSJMYXllcl8xIiB2ZXJzaW9uPSIxLjEiIHZpZXdCb3g9IjAgMCA1MCA1MCIgd2lkdGg9IjUwcHgiIHhtbDpzcGFjZT0icHJlc2VydmUiIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyIgeG1sbnM6eGxpbms9Imh0dHA6Ly93d3cudzMub3JnLzE5OTkveGxpbmsiPjxyZWN0IGZpbGw9Im5vbmUiIGhlaWdodD0iNTAiIHdpZHRoPSI1MCIvPjxwb2x5Z29uIHN0cm9rZT0id2hpdGUiICBwb2ludHM9IjQ3LjI1LDE1IDQ1LjE2NCwxMi45MTQgMjUsMzMuMDc4IDQuODM2LDEyLjkxNCAyLjc1LDE1IDI1LDM3LjI1ICIvPjwvc3ZnPg==");
    background-size: 12px;
    background-position-x: calc(100% - 7px);
    background-position-y: calc(100% - 14px);
    background-repeat: no-repeat;
    background-color: #000;
    color:#757575;
    padding: 14px 20px 14px 14px;
    margin: 30px 0 40px 0;
    font-size: 0.9rem;
    min-height: 40px;
    border: 1px solid #333;
}

.select-language option{
    padding-left: 10px; 
}

@media screen and (max-width: 740px){
    body{
        background: black;
    }

    .img-logo {
        margin-left: 22px;
    }

    .login{
        padding: 0 10px 0 10px;
        width: 100%;
    }

    .login-div{
        width: 90%;
        margin: 0 auto;
    }

    .bottom {
        border-top: 1px solid #737373;
    }

    .upper{
        padding-bottom: 93px;
    }

    .list-bottom{
        width: 33%;
    }
}

@media screen and (max-width: 500px){
    .list-bottom{
        width: 50%;
    }
}

